* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: 'Pretendard-Regular';
  background: url(./img/구름.JPG) no-repeat center / cover;
  height: 100%; 
}

/* 폰트 */

@font-face {
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*  */

input {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* 스크롤 커스텀 */

.list-wrap::-webkit-scrollbar {
  width: 4px; ;
}

.list-wrap::-webkit-scrollbar-track { 
  background-color:transparent; 
}

.list-wrap::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 50px;
}

/* 스크롤 커스텀 끝 */

.wrap {
  max-width: 500px;
  border: 2px solid #cfefef;
  border-radius: 30px;
  padding: 10px;
  margin: 70px auto; 
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #cfefef;
  border-radius: 30px;
  margin-bottom: 10px;
}

header h2 {
  /* color: #cf79fa ; */
  color: #d992fc;
}

section {
  margin-bottom: 10px;
}

section .list-wrap {
  background: url(./img/파스텔.jpg)no-repeat center/cover;
  height: 600px;
  background-color: #fffff8;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 20px;
  overflow: auto;
}

section .list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #fff8fe;
  border-radius: 40px;
  padding: 10px;
}

section .list-item .list-name { 
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
}

section .list-item .del-btn {
  background: url(./img/pngwing.com.png) no-repeat center/cover;
  background-color: transparent;
  width: 25px;
  height: 20px;
  transition: all 300ms ease-in;
  overflow: auto;
}

section .list-item .del-btn:hover {
  transform: scale(1.2);
}

section .input-wrap {
  position: relative;
}

section input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  font-size: 1em;
  text-indent: 20px;
}

section .add-btn {
  position: absolute;
  background: url(./img/종이비행기.png) no-repeat center/cover;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

footer {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #cfefef;
  border-radius: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 700;
  color: #d992fc;
}

@media (max-width: 768px) {
  .wrap {
    margin: 30px auto;
  }

  section .list-wrap {
    height: 500px;
  }
}
